html, body {
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #ecf0f5;
}

.monospace, .textbox, .input {
  font-family: Menlo, Monaco, Consolas, monospace;
}

.textbox {
  height: 28px;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: inset 0 1px 3px #878f90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
}
.input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
}

.radio label {
  line-height: 1.8;
  display: inline-block;
}

.button {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: white;
  background-color: #2db556;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
}
.button > * {
  pointer-events: none;
}
.button:active {
  background-color: #1da546;
}
.button-red {
  background-color: #dd4b39;
}
.button-red:active {
  background-color: #cd3b29;
}
