html, body {
  height: 100%;
}

body {
  color: white;
  background-color: #20202E;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  body {
    background-size: cover;
  }
}

.link {
  color: white;
  display: inline-block;
  margin-top: 12px;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.textbox {
  height: 28px;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: inset 0 1px 3px #878f90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
}
.input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
}

.radio label {
  line-height: 1.8;
  display: inline-block;
}

.button {
  background-color: #2db556;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
}

.title {
  width: 160px;
  height: 62px;
  background-image: url(images/title.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto 50px auto;
}

.page {
  -webkit-box-flex: .764;
      -ms-flex: .764 0 auto;
          flex: .764 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body:after {
  content: '';
  -webkit-box-flex: .236;
      -ms-flex: .236 0 auto;
          flex: .236 0 auto;
}

.container {
  padding: 50px 10px;
}
@media (max-height: 630px) {
  .container {
    padding-bottom: 20px;
  }
}

.form {
  padding: 20px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, .1);
  text-align: center;
}

.dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  display: none;
  z-index: 10000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fade-in .4s both;
          animation: fade-in .4s both;
}
.dialog.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dialog-container {
  -webkit-box-flex: .764;
      -ms-flex: .764 0 auto;
          flex: .764 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
}
.dialog:after {
  content: '';
  -webkit-box-flex: .236;
      -ms-flex: .236 0 auto;
          flex: .236 0 auto;
}
.dialog-body {
  min-width: 215px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  will-change: transform;
  -webkit-animation: jump-in .4s cubic-bezier(.6, 0, .32, 1.51) both;
          animation: jump-in .4s cubic-bezier(.6, 0, .32, 1.51) both;
}
.dialog-message {
  padding: 10px;
  line-height: 1.618;
  white-space: pre;
  color: #222;
  font-size: 14px;
}
.dialog-title {
  font-weight: bold;
  margin-bottom: 4px;
}
.dialog-message strong {
  font-family: Menlo, Monaco, Consolas, monospace;
}
.dialog-button-close {
  background-color: #2db556;
  text-align: center;
  height: 34px;
  font-size: 12px;
  line-height: 34px;
  cursor: pointer;
  color: white;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
}
.dialog-button-close:hover {
  opacity: 0.9;
}
.dialog-button-close:active {
  opacity: 1;
  box-shadow: inset 0 1px 3px #878f90;
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes jump-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes jump-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
